<div class="masthead">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/research">Research</a></li>
          <li><a href="/education">Education</a></li>
          <li><a href="/experience">Experience</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/assets/cv.pdf" target="_blank">Résumé</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->
</div>